h1
{                           
   color: blue;                   
    font-size: 12px;               
}

p {
	color: red;
   background-color: lightskyblue;
   border-style: dotted;
   border-width: 2px;
   border-color: brown;
   padding: 10px;
   margin: 5px;
   text-align: center;


}

#text1
{color: green;
}

.underline{
   text-decoration: underline;
}